/node_modules
assets/pilot_ktp/*
assets/pilot_certificate/*
assets/drone_picture/*
assets/drone_emergencyProcedure/*
assets/drone_insuranceDocument/*
assets/drone_listOfEquipment/*
assets/drone_certificate/*
assets/flight_kml/*
assets/flight_airspaceAssessment/*
assets/flight_dnpPermit/*
assets/flight_militaryPermit/*
assets/flight_authorityPermit/*
assets/pfr_notam/*
assets/company_deed/*
assets/individual_identityCard/*
assets/kml/*

!assets/pilot_ktp
!assets/pilot_certificate
!assets/drone_picture
!assets/drone_emergencyProcedure
!assets/drone_insuranceDocument
!assets/drone_listOfEquipment
!assets/drone_certificate
!assets/flight_kml
!assets/flight_airspaceAssessment
!assets/flight_dnpPermit
!assets/flight_militaryPermit
!assets/flight_authorityPermit
!assets/pfr_notam
!assets/company_deed
!assets/individual_identityCard
!assets/kml
.env